<div class="profile">
    <h2 class="section-title">Profile</h2>
    <div *ngIf="!saveform">
        <table class="table profile__tbl" *ngFor="let profile of profileDetails">
            <tr>
                <th>Account Type</th>
                <td *ngIf="profile.account_type==='agency'">Translation agency/company employee or owner</td>
                <td *ngIf="profile.account_type==='translator'">Freelance translator and/or interpreter</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{profile.first_name}} {{profile.last_name}}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{profile.username}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{profile.email}}</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>{{profile.phone_number}}</td>
            </tr>
            <tr>
                <th>Mobil Number</th>
                <td>{{profile.mobile_number}}</td>
            </tr>
            <tr>
                <th>Fax Number</th>
                <td>{{profile.fax_number}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{profile.address}}, {{profile.city}}, {{profile.state}}, {{profile.postal_code}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{profile.country}}</td>
            </tr>
            <tr>
                <th>Services</th>
                <td>{{profile.services | replacePipe : ',' : ', '}}</td>
            </tr>
            <tr>
                <th>Languages</th>
                <td>
                    <ul *ngFor="let lang of profile.languages">
                        <li>{{lang.source}} to {{lang.target}}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Native Language</th>
                <td>{{profile.native_language}}</td>
            </tr>
            <tr>
                <th>Subject Areas</th>
                <td>{{profile.subject_areas}}</td>
            </tr>
            <tr>
                <th>Expertise</th>
                <td>{{profile.expertise | replacePipe : ',' : ', '}}</td>
            </tr>
            <tr>
                <th>Software</th>
                <td>{{profile.software | replacePipe : ',' : ', '}}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td class="resume">{{profile.summary}}</td>
            </tr>
            <button type="button" class="btn btn-primary profile__edit" (click)="editUser()">Edit</button>
        </table>
    </div>
    <div class="profile__form" *ngIf="saveform">
        <app-profile-edit [profileDetails]="profileDetails" (saveform)='saveForm($event)'></app-profile-edit>
    </div>
</div>