@import "../../../assets/styles/variables";
.side-menu{
    &__nav{
        margin: 0;
        li{
            width: 100%;
            float: left;
            display: block;
            a{
                padding: 1.5rem 2rem;
                width: 100%;
                display: block;
                border-bottom: 1px solid $bg-side-menu-color;
                color: $app-color-primary;
                font-size: 1.4rem;
                @media screen and (min-width: 768px) {
                    font-size: 1.5rem;
                }
                &:hover{
                    color: $app-color-secondary;
                    text-decoration: none;
                }
            }
        }
    }
}