<footer class="theme-dark fluid-spacing-lg footer">
    <div class="row">
        <div class="col-sm-6 col-lg-3 footer__nav">
            <ul aria-label="Footer links">
                <li *ngFor="let nav of links">
                    <a class="nav-links" routerLink="nav.link" routerLinkActive="active">{{nav.title}}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-lg-3 footer__nav">
            <ul aria-label="Footer links">
                <li *ngFor="let nav of links">
                    <a class="nav-links" routerLink="nav.link" routerLinkActive="active">{{nav.title}}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-lg-3 footer__nav">
            <ul aria-label="Footer links">
                <li *ngFor="let nav of links">
                    <a class="nav-links" routerLink="nav.link" routerLinkActive="active">{{nav.title}}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-lg-3 footer__nav">
            <ul aria-label="Footer links">
                <li *ngFor="let nav of links">
                    <a class="nav-links" routerLink="nav.link" routerLinkActive="active">{{nav.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</footer>