<div class="row dashboardprofile" *ngFor="let profile of profileDetails">
    <div class="col-sm-4"><img src="https://via.placeholder.com/150" alt="profile-photo" class="dashboardprofile__img"/></div>
   
    <div class="col-sm-8">
        <table class="dashboardprofile__tbl">
            <tr><th>Account Type</th><td *ngIf="profile.account_type==='agency'">Translation agency/company employee or owner</td><td  *ngIf="profile.account_type==='translator'">Freelance translator and/or interpreter</td></tr>
            <tr><th>Name</th><td>{{profile.first_name}} {{profile.last_name}}</td></tr>
            <tr><th>Username</th><td>{{profile.username}}</td></tr>
            <tr><th>Email</th><td>{{profile.email}}</td></tr>
            <tr><th>Phone Number</th><td>{{profile.phone_number}}</td></tr>
            <tr><th>Mobil Number</th><td>{{profile.mobile_number}}</td></tr>
            <tr><th>Fax Number</th><td>{{profile.fax_number}}</td></tr>
            <tr><th>Address</th><td>{{profile.address}}, {{profile.city}}, {{profile.state}}, {{profile.postal_code}}</td></tr>
            <tr><th>Country</th><td>{{profile.country}}</td></tr>
            <tr><th>Services</th><td>{{profile.services | replacePipe : ',' : ', '}}</td></tr>
        </table>
    </div>
</div>