
<section class="container-fluid p-0 dashboard">
    <!-- <app-page-title-description   title="Login" smallTitle='true' description="Register for Translator or Interpretor"></app-page-title-description> -->
    <div class="container-sm my-3">
        <div class="row">
            <div class="col-sm-4">
                <app-side-menu></app-side-menu>
            </div>
            <div class="col-sm-8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>
