@font-face {
  font-family: "Moonraft";
  src: url("assets/fonts/Moonraft-Regular.eot");
  src: url("assets/fonts/Moonraft-Regular.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/Moonraft-Regular.woff") format("woff"),
    url("assets/fonts/Moonraft-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Moonraft-Medium";
  src: url("assets/fonts/Moonraft-Medium.eot");
  src: url("assets/fonts/Moonraft-Medium.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/Moonraft-Medium.woff") format("woff"),
    url("assets/fonts/Moonraft-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Moonraft-Bold";
  src: url("assets/fonts/Moonraft-Bold.eot");
  src: url("assets/fonts/Moonraft-Bold.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/Moonraft-Bold.woff") format("woff"),
    url("assets/fonts/Moonraft-Bold.ttf") format("truetype");
}
