$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: $spacer,
  2: ($spacer * 2),
  3: ($spacer * 4),
  4: ($spacer * 8),
  5: ($spacer * 16)
), $spacers);

$browser-context: 10px;
// 1rem will be 10px

$ff: Moonraft;
$ff-medium: Moonraft-Medium;
$ff-bold: Moonraft-Bold;

// $fs-xs: 1.4rem; //14px;
// $fs-sm: 1.6rem; //16px;
// $fs-md: 2.4rem; //24px;
// $fs-base: 4.8rem; //48px;
// $fs-lg: 7.2rem; //72px;
// $fs-xlg: 9.6rem; //96px;
// $fs-xxlg: 14.4rem; //144px;

// $lh-xs: 0.69;
// $lh-sm: 1.04;
// $lh-md: 1.13;
// $lh-lg: 1.39;
// $lh-xlg: 1.5;
// $lh-xxlg: 2;

$lh-xs: 0.8;    //Page Title
$lh-sm: 1;      //Ticker
$lh-md: 1;      //Button
$lh-lg: 1.25;   //Case Study Titles
$lh-xlg: 1.75;  //Paragraph & Page Descriptions
$lh-xxlg: 2;    //Socials Sites

$app-color-primary: #E30613;
$app-color-secondary: #f47320;
$white: #fff;
$black: #000;

$text-color-primary: #4a4a4a;
$text-color-secondary: $app-color-primary;

$bg-color-primary: $app-color-secondary;
$bg-color-secondary: $app-color-primary;
$bg-side-color: #e6e6e6;
$bg-side-menu-color: #d3d2d2;

$space-xxs: 1rem;
$space-xs: 2rem;
$space-sm: 4rem;
$space-md: 6rem;
$space-lg: 8rem;
$space-xl: 10rem;
$space-xxl: 16rem;
$space-xxxl: 20rem;
